Package: adc
Version: 1.0-1
Section: utils
Priority: optional
Architecture: all
Depends: python
Maintainer: German Skalaukhov <keenser.sg@gmail.com>
Description: BBB ADC inputs statistics collector daemon
